.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.loader > div {
    color: var(--text-blue);
    font-weight: 500;
}