button {
    background-color: var(--blue);
    color: white;
    padding: 0.6rem 1.6rem;
    border: none;
    cursor: pointer;
    letter-spacing: .08rem;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 2px;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: var(--dark-blue);
    transform: translateY(-0.2em);
}

.icon {
    font-size: 1rem;
    margin-left: 0.2rem;
}

