.home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.home-actions {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
}

.home-left{
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.home-left > h3 {
    font-size: 1.7rem;
    font-weight: 800;
    letter-spacing: .07rem;
}

.home-left > p {
    font-weight: 600;
}

.artwork {
    width: 350px;
    height: 310px;
}