.header {
    height: var(--header-height);
    background-color: white;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 0 1rem;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo {
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--dark-blue);
    width: 7rem;
    height: 2.2rem;
}