.feature-wrapper {
    width: 100%;
    background-color: var(--blue);
    color: white;
    border-radius: 8px;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.feature-wrapper > h2 {
    color: white;
    font-size: 2.5rem;
}

.features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.card {
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 300px;
}