.footer {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    padding: 24px;
    width: 100%;
}

.footer-content {
    opacity: 0.8;
}