.queries{
    background: #F5F5F5;
    padding: 1rem;
    border-radius: .5rem;
    flex: 0.3;
}

.query-panel {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    max-height: 300px;
    flex: 0.3;
}

.query {
    border-radius: .5rem;
    background: white;
    padding: .5rem;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--text-blue);
    font-weight: 500;
}

.query-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: auto;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tab {
    cursor: pointer;
    padding: .5rem;
    border-radius: .25rem;
    text-align: center;
}

.tab.active{
    background-color: rgba(0,0,0,0.05);
}